* {
    /*yıldız demek tüm style kapsasın istediğimiz için yıldız yazdık*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*tüm ögeleri kapsamasını istediğimiz için html etiketi açtık*/
    font-size: 7px;
}

body {



    font-family: 'Outfit', sans-serif;
    color: #fff;
    font-size: 1.6rem;
    /* tek bir noktadan orantıyı değiştirmek istediğimizde orantısal olarak tek bir noktadan yonetebilmek için rem kullandık aslında 16px yazdık*/
    line-height: 1.5;
    text-align: center;
    background-color: #333;
}

a {
    text-decoration: none;
}

p {
    padding: 1.6rem;
}

img {
    width: 100%;
    height: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

header {
    height: 46rem;


}

header .bg-image {
    position: absolute;
    /*header yazısını uçagın üzerine cıkardı yukarı*/
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.5;
    /*bg yi solgun yapar*/
    z-index: -1;
    /*resmin altında kalan soluk olan yazıyı resmin üzerine almak için bu etiketi kullandık*/
}

header h1 {
    padding: 12rem;
    /*12 rem 120 px'e eşittir.*/
    padding-bottom: 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0;
    transition: all 0.4s;
    /*butonun üzerine geldiğimizde color hızlıca yanıp sönmesin daha yavaş bir hava yaratsın diye trans. verdik. read more un üzerine geldiğimizde yavaş bir değişim rengi olmasını geçerli kıldık*/
}

.btn:hover {
    background-color: #fff;
    color: #333;


}

#section-a {
    background: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
}

#section-b {
    padding: 2rem;
}

#section-b ul{
    list-style: none; /*sec.b nin içindeki listelerin noktalarını kaldırdık*/
}
#section-b li{
    background: #fff;
    color: #333;
    margin-bottom: 1.5rem;
}
.col-content{
    padding: 1.5rem;
}
#section-c{
    background: #eaeaea;
    color: #333;
    padding: 5rem;
}
#section-d .box{
    padding: 5rem;
}
#section-d .box:first-child{/* box ın ilk elemanını belirttik.*/
    background-color: darkslategray;
}
footer{
    padding: 4rem;
    background: black;

}
footer a{
    color: yellowgreen;
}
@media screen and (min-width:800px) {/*800x üzerine çıktığımızda yazılar büyüyor.*/

html {
    font-size: 9px;
}

}/*sitemizi mobil tasara-ım olarak tasarlamıstık şimdi bu etiketi koyarak bu genişletildiğinde webte nasıl olacagını belirledik*/
    
@media screen and(min-width:1200px){
    html {
        font-size: 11px;
    }
    
}
#section-b li{
    width: 28%;
    margin: 1% ;
    display: inline-block;
}
.box{
    width: 50%;
    float: left;
}